PORT=5000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/sweatandgain
JWT_SECRET=zohaib_super_secret_key_12345_!@#
ADMIN_EMAIL=zohaibadmin@gmail.com
ADMIN_PASSWORD=Zohaib@Admin
CORS_ORIGIN=http://localhost:5173,https://your-frontend-project.vercel.app
