PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/<database-name>
JWT_SECRET=your_super_long_random_secret_key
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_strong_admin_password
CORS_ORIGIN=http://localhost:5173,https://sweat-gain.vercel.app
